#root {
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}

.mini-container {
  width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 25px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mini-header{
  padding: 10px 0px;
  background-color: rgb(226, 195, 147);
  text-align: center;
  border-radius: 10px;
  width: 93%;
  margin: 0;
}

#wrong {
  background-color:rgb(219, 93, 93);
}

#correct {
  background-color:rgb(191, 116, 191);
}

.answer-space {
  background-color: rgb(226, 195, 147);
  padding: 10px 0;
  height: 20px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px;
  margin-left: auto;
  clear: both;
}

li {
  margin-top:3px;
  margin-bottom:3px;
  margin-right: 10%;
  margin-left: 10%;
  background-color: #FFFDD0;
  border-radius: 15px;
}

button.newdrink {
  width: auto;
  text-align: center;
}

.button {
  background-color: rgba(138, 98, 12, 0.942);
  font-weight: bold;
  color: white;
}

.title {
  display: inline-block;
  margin-bottom: 0;
}

.title-container {
  text-align: left;
  margin-bottom: 50px;
}

.drink-container {
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
}